{% if all_blog %}

    {% for b in all_blog %}
        <h4>{{b | safe}}</h4>
    {% endfor %}
{% endif %}

{% if entry %}

    <h4>{{entry | safe}}</h4>

{% endif %}

{% if all_entry %}

    {% for e in all_entry %}
        <h4>{{e | safe}}</h4>
        {% comment %} <h4>{{e.pub_date}}</h4>
        <h4>{{e.pk}}</h4> {% endcomment %}
    {% endfor %}
{% endif %}

{% if message %}
    {{message}}
{% endif %}


{% if meta %}
    {% for m in meta %}
        {{m.age}}
    {% endfor %}

{% endif %}

{% if search %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in search %}
        <p>
        {{k.headline}}
        {{k.rank}}
        </p>
        {% endfor %}
</div>
{% endif %}

{% if db_fun %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in db_fun %}
        <p>
        {{k | safe}}
        </p>
        <p>
            exp====----------------- {{k.exe_f}}

        </p>
        <p>title - {{k.title}}</p>
        <p>name - {{k.name}}</p>
        <p>description - {{k.description}}</p>
        <p>age - {{k.age}}</p>
        <p>creation - {{k.creation}}</p>
        <p>modified - {{k.modified}}</p>
        {% endfor %}
</div>
{% endif %}

{% if db_date_fun %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in db_date_fun %}
        <p>
        {{k | safe}}
        </p>
        <p>
            exe_f====----------------- {{k.exe_f}} <br><br>
            name========-------name---------{{k.name}}

        </p>
        <p>sstart_datetime - {{k.start_datetime}}</p>
        <p>start_date - {{k.start_date}}</p>
        <p>start_time - {{k.start_time}}</p>
        <p>end_datetime - {{k.end_datetime}}</p>
        <p>end_date - {{k.end_date}}</p>
        <p>end_time - {{k.end_time}}</p>
        
        <p>creation - {{k.creation}}</p>
        <p>modified - {{k.modified}}</p>
        {% endfor %}
</div>
{% endif %}



{% if q_exp %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in q_exp %}
        <ul>
        <li>Pk --- {{k.pk}}</li>
        <li>{{k.name}}</li>
        <li>{{k.age}}</li>
        <li>{{k.nos}}</li>
        <li>{{k.description}}</li>
        <li>{{k.verified}}</li>
        {% if k.exe_f %}
            <li>--exe---{{k.exe_f}}</li>
        {% endif %}
        </ul>
        {% endfor %}
</div>
{% endif %}



{% if lea_exp %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in lea_exp %}
        <ul>
        <li>Pk --- {{k.pk}}</li>
        <li>{{k.name}}</li>
        <li>{{k.age}}</li>
        {% if k.exe_f %}
            <li>--exe---{{k.exe_f}}</li>
        {% endif %}
        </ul>
        {% endfor %}
</div>
{% endif %}