{% if all_blog %}

    {% for b in all_blog %}
        <h4>{{b | safe}}</h4>
    {% endfor %}
{% endif %}

{% if entry %}

    <h4>{{entry | safe}}</h4>

{% endif %}

{% if all_entry %}

    {% for e in all_entry %}
        <h4>{{e | safe}}</h4>
        {% comment %} <h4>{{e.pub_date}}</h4>
        <h4>{{e.pk}}</h4> {% endcomment %}
    {% endfor %}
{% endif %}

{% if message %}
    {{message}}
{% endif %}


{% if meta %}
    {% for m in meta %}
        {{m.age}}
    {% endfor %}

{% endif %}

{% if search %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in search %}
        <p>
        {{k.headline}}
        {{k.rank}}
        </p>
        {% endfor %}
</div>
{% endif %}

{% if db_fun %}
<div style="display:flex;flex-direction:column;gap:0px">
    {% for k in db_fun %}
        <p>
        {{k | safe}}
        </p>
        {% endfor %}
</div>
{% endif %}