[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "==2.1.1"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
