<!DOCTYPE html>
<html>
    {% load static %}
    <head>
         <title>Index</title>
         <script src = "{% static 'ecommerce_app/js/index.js' %}"></script>
         <link rel="stylesheet" href = "{% static 'ecommerce_app/css/index.css' %}">
    </head>
    <body>
       <div class="main-container">
            <table >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Nationality</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_emp in emp_details %}
                        <tr>
                            <td>{{each_emp.id}}</td>
                            <td>{{each_emp.first_name}}</td>
                            <td>{{each_emp.last_name}}</td>
                            <td>{{each_emp.phone}}</td>
                            <td>{{each_emp.email}}</td>
                            <td>{{each_emp.nationality}}</td>
                            <td><a href="/ecommerce/update-customer/{{each_emp.id}}"><button>Update</button></a></td>
                            <td><a href="/ecommerce/delete-customer/{{each_emp.id}}"><button>Delete</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/ecommerce/customer-register/"><button type="button">Add New Customer</button></a>
       </div>
       {% comment %} {% block test %}
       Test ok
       {% endblock %} {% endcomment %}
    </body>
</html>
